*{
  margin: 0;
  padding: 0;
}

/*................ NavBar ..............*/

.lk{
  padding: 10px 0 30px 0;
}

.lk img{
  width: 90px;
  height: 90px;
}

.navbar .navbar-nav{
  margin-right: 60px;
}

.navbar .navbar-nav .nav-link:active{
  color: blue;
}

.navbar .navbar-nav .nav-link{
  color: #000;
  font-size: 18px;
  font-weight: 500;
  padding: 0 15px;
}

/*........... Head ...............*/

.head{
  padding-top: 25px;
  padding-bottom: 40px;
}

.head h3 {
  color: #000;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  max-width: 320px;
  position: relative;
}

.head h3:before{
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: lightgrey;
  left: 0;
  top: 50%;
  position: absolute;
}

.head h3:after {
  content: "";
  display: block;
  width: 500px;
  height: 2px;
  background: lightgrey;
  right: 0;
  left: 80%;
  top: 50%;
  position: absolute;
}

/*.............. Banner ..............*/

.banner{
  padding: 20px 0;
}

.banner .intro{
  padding-top: 80px;
}

.banner .intro h1{
  font-weight: bold;
  color: #000;
}

.banner .intro p{
  color: grey;
}

.banner .intro .ct{
  background: blue; 
  color: #fff; 
  padding: 7px 25px;
  text-decoration: none;
}

.banner .intro .ex{
  color: blue; 
  border: 1px solid blue; 
  padding: 7px 35px; 
  margin-left: 15px;
  text-decoration: none;
}

.banner .nb-image {
  background-image: url('img/handshake.jpg');
  background-position: center center;
  border-radius: 50%;
  background-size: cover;
  width: 420px;
  height: 420px;
}

/*............. About .............*/

.about{
  padding: 25px 0;
}

.about .us{
  padding-top: 5px;
}

.about .us p{
  color: grey;
  line-height: 35px;
}

/*............. Mission ..............*/

.mission{
  margin-top: 8px;
  padding: 40px 0;
  background: mediumblue;
  color: #fff;
}

.mission h5{
  font-weight: 700;
}

.mission .vertical{
  border-left: 1px solid #fff;
  height: 120px;
  position:absolute;
  left: 50%;
}

/*.............. Services ..............*/

.services{
  padding: 50px 0;
}

.services .sr i{
  color: blue;
  font-size: 60px;
  text-align: center;
  display: block;
  margin: 20px auto 20px auto;
}

.services .sr{
  width: 90%;
  height: 43vh;
  box-shadow: -1px 1px 3px lightgrey, 1px 1px 3px lightgrey;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.services h5{
  text-align: center;
  font-size: 23px;
  color: #000;
}

.services p{
  color: grey;
  text-align: center;
}

/*............ Team .............*/

.team .tm h5{
  font-size: 23px;
  font-weight: 500;
}

.team .tm h6{
  color: blue;
  text-align: center;
}

.team .tm p{
  color: grey;
  line-height: 30px;
}

.team .tm .tm-img{
  position: relative;
  text-align: center;
}

.team .tm img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.team .tm .tm-content{
  height: 57vh;
  padding: 90px 10px 10px 10px;
  margin-top: -80px;
  text-align: center;
  background: #f3f4fa;
  border-radius: 10px;
}

/*............. Patners ...............*/

.partners{
  padding: 40px 0;
}

.partners .img1{
  height: 140px;
}

.partners .img2{
  margin-top: 40px;
}

/*.............. Footer .................*/

.footer{
  background: MidnightBlue;
  color: #fff;
  padding: 20px 0;
}

.footer .dt{
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
}

.footer .dt i{
  margin-right: 10px;
}

.footer a{
  background: #fff;
  padding: 8px 40px;
  margin-top: 10px;
}

.footer img{
  width: 130px;
  height: 130px;
}

.footer .copy{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 425px) {

  .navbar-toggler{
    display: none !important;
  }

  .head {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .head h3:after {
      width: 60px;
      height: 2px;
  }

  .lk{
    padding: 0;
  }

  .banner .nb-image {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

  .banner .intro {
    padding-top: 40px;
  }

  .banner .intro h1 {
    text-align: center;
  }

  .banner .intro p {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .banner .bn-bt{
    text-align: center;
  }

  .about .abt-image{
    text-align: center;
  }

  .about .abt-image img{
    width: 95%;
    margin-bottom: 10px;
  }

  .mission {
    padding: 25px 0;
  }

  .mission .vertical{
    display: none;
  }

  .mission .ms, .mission .us{
    text-align: center;
  }

  .services .sr {
    height: 48vh;
    margin-left: auto;
    margin-right: auto;
  }

  .team .tm{
    margin-bottom: 25px;
  }

  .team .tm .tm-content {
    height: 63vh;
  }

  .partners .pr-img{
    text-align: center;
  }

  .footer .dt {
    text-align: center;
    margin-bottom: 45px;
  }

  .footer .ft-img{
    text-align: center;
  }
}